@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');
body{
    
    font-family: 'Poppins', sans-serif;
    background-color: #06283D;
}

#seccion-de-seleccionar-personaje{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}

.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px;

}

.tarjeta-de-personaje{
    width: 200px;
    height: 250px;
    background: #256D85;
    padding: 3px 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px inset rgb(71, 181, 255);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    color: white;
}

.tarjeta-de-personaje img{
    width: 140px;
}
.tarjeta-de-personaje p{
    display: flex;

}


#btnSeleccionar{
    margin-top: 30px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: 2px solid white;
    background: transparent;
    font-family: 'Poppins', sans-serif;

}

input{
    display: none;
}

#seleccionar-ataque{
    display: flex;

}

